/* ===== MENU INFERIOR ===== */

.bottom-navbar[b-l3szc9tbce] {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(rgb(171, 45, 255), rgb(5, 125, 238)); /* cinza escuro moderno */
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 10px rgba(2, 2, 2, 0.15);
    z-index: 1000;
}

/* links do menu */
.bottom-navbar .nav-link[b-l3szc9tbce] {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    transition: all 0.2s ease;
}

/* ícones */
.bottom-navbar .nav-link .bi[b-l3szc9tbce] {
    font-size: 20px;
}

/* hover */
.bottom-navbar .nav-link:hover[b-l3szc9tbce] {
    color: #ffffff;
    transform: translateY(-2px);
}

/* link ativo do Blazor */
.bottom-navbar .nav-link.active[b-l3szc9tbce] {
    color: #3b82f6; /* azul destaque */
}

/* evitar que conteúdo fique escondido atrás do menu */
.page-content[b-l3szc9tbce] {
    padding-bottom: 75px;
}